.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('home2-large.webp');
  color: white;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0px 0 0px;
}

.navi{
  display: flex;
  width: 50%;
  justify-content: space-around;
  padding-top: 15px;
}

.body{
  margin-top: 20px;
  text-align: left;
  padding: 0 100px 0 130px;
  font-weight: bold;
}

.footer{
  text-align: right;
  padding: 0 100px 0 80px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 50px;
  font-size: 1.25rem;
  color: gray;
}